<div class="grid-container">
    <div class="login">
        <p tabindex="0">Sign up</p>
    </div>
    <div>
        <form [formGroup]="registerForm" class="forms">
            <label for="username">UserName :</label>
            <input
              type="text"
              formControlName="username"
              name="username"
              placeholder="Please Enter Name"
              autocomplete="off"
              aria-label="User Name"
            >

            <label for="password">Password :</label>
            <input
             type="password"
             formControlName="password"
             name="password"
             placeholder="Please Enter Password"
             autocomplete="off"
             aria-label="Password"
            >
        </form>
    </div>
    <div class="div2">
        <button
         type="button"
         class="button"
         tabindex="0"
         [disabled]="registerForm.invalid"
         (click)="onSubmit()"
         aria-label="Add User"
        >Add User</button>
        <button
         type="button"
         class="button"
         tabindex="0"
         [routerLink]="['/list']"
         aria-label="Move Home Page"
        >Cancel</button>
    </div>
</div>


