.list {
    width: auto;
    margin-top: 25px;
    border: 1px solid black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.heading {
    background-color: lightseagreen;
    padding: 6px;
    margin-top: 0px;
    color: white;
}

.button {
    padding: 6px 15px;
    margin-right: 10px;
}

.add {
    background-color: lightseagreen;
    margin-top: 21px;
    margin-bottom: 0px;
}

.table-bottom {
    display: inline-flex;
}

.add-button {
    margin-left: 646px;
    padding: 6px;
    padding-bottom: 4px;
    margin-top: 9px;
    margin-bottom: 10px;
}

.footer-text {
    margin: 14px 0px 0px 410px;
    color: white;
}
