.list {
    width: auto;
    margin-top: 25px;
    border: 1px solid black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.heading {
    color: white;
    margin: 12px;
    padding-left: calc(100vw/2 - 100px)!important;
}

.button {
    padding: 6px 15px;
    margin-right: 10px;
}

.button-delete {
    padding: 6px 15px;
    margin-right: 10px;
    background-color: red;
    color: white;
}

.button-update {
    padding: 6px 15px;
    margin-right: 10px;
    background-color: blue;
    color: white;
}


.add {
    background-color: lightseagreen;
    padding: 9px;
    margin-top: 19px;
}

.table-bottom {
    display: inline-flex;
}

.add-button {
    padding: 0px 5px 0px 5px;
    margin: 10px;
    margin-left: 491px;
    color: white;
    background-color: blue;
}

.crud-button {
   display: inline-flex;
}

.table {
    border-collapse: inherit;
    width: 100%;
    min-width: 500px;
}

@media only screen and (max-width: 1002px) {
    .button {
        padding: 8px 3px 8px 3px;
        margin-right: 7px;
    }
}

@media only screen and (max-width: 1165px) {
    .heading {
        color: white;
        margin: 12px;
        padding-left: calc(100vw/3 + 1px)!important;
    }

    .add-button {
        padding: 0px 5px 0px 5px;
        margin: 10px;
        margin-left: calc(100vw/2 - 263px)!important;
        color: white;
        background-color: blue;
    }
}

.table-header {
    display: inline-flex;
    background-color: lightseagreen;
    width: 100%;
    margin-bottom: 24px;
}

.scroll {
    overflow: auto;
}

