
.div1 {
    background-color: lightseagreen;
    display: inline-flex;
    width: 100%;
}

.ui-button {
    margin-left: 801px;
}

.header-button {
    margin: 15px;
    padding: 6px 10px 6px 10px;
}

@media only screen and (max-width: 1165px) {
    .ui-button {
        margin-left: auto;
        padding-bottom: 9px;
        padding-top: 3px;
    }

    .header-button {
        margin: 3px;
        margin-top: 6px;
        padding-left: 1px;
        padding-right: 1px;
    }
  }
