<div class="div1">
    <div>
        <title-element tabindex="0" name="{{headerTitle}}"></title-element>
    </div>
    <div class="ui-button">
        <button
         type="button"
         id="toggle-button"
         class="header-button"
         tabindex="0"
         (click)="changeTheme()"
        >Toggle Theme</button>
        <button
         type="button"
         id="login-button"
         class="header-button"
         tabindex="0"
         [routerLink]="['/login']"
         *ngIf="!isAuthenticated"
        >Log In</button>
        <button
         type="button"
         id="logout-button"
         class="header-button"
         tabindex="0"
         (click)="logout()"
         *ngIf="isAuthenticated"
        >Logout</button>
    </div>
</div>
