<div class="grid-container">
    <div class="login">
        <p tabindex="0">Login</p>
    </div>
    <div>
        <form [formGroup]="loginForm" class="form">
            <label for="username">UserName :</label>
            <input
             type="text"
             formControlName="username"
             id="username"
             placeholder="Please Enter Name"
             aria-label="Username"
             autocomplete="off"
            >

            <label for="password">Password :</label>
            <input
             type="password"
             formControlName="password"
             placeholder="Please Enter Password"
             aria-label="Password"
             id="password"
             autocomplete="off"
            >
        </form>
    </div>
    <div class="div2">
        <button
            type="button"
            class="button"
            tabindex="0"
            (click)="onSubmit()"
            [disabled]="loginForm.invalid"
            aria-label="Submit Login Form"
        >Submit</button>
        <button
            type="button"
            class="button"
            tabindex="0"
            [routerLink]="['/']"
            aria-label="Move Home Page"
        >Cancel</button>
        <button
            type="button"
            class="button"
            tabindex="0"
            [routerLink]="['/registermodule']"
            aria-label="Move Sign Up Page"
        >Sign Up</button>
    </div>
</div>

