<div class="grid-container">
    <div class="login">
        Register
    </div>
    <div>
        <form [formGroup]="sportsForm" class="form">
            <label for="">ID :</label>
            <input type="text" formControlName="id" id="id" autocomplete="off">

            <label for="">Sports Title :</label>
            <input type="text" formControlName="sportsTitle" id="sportsTitle" autocomplete="off">

            <label for="">category :</label>
            <input type="text" formControlName="category" id="category" autocomplete="off">

            <label for="">Description :</label>
            <textarea formControlName="descreption" id="descreption" maxlength="500" 
            autocomplete="off"></textarea>
        </form>
    </div>
    <div class="div2">
        <button type="button" class="button" (click)="onSubmit(sportsForm.value)"
            [disabled]="sportsForm.invalid">Submit</button>
        <button type="button" class="button" [routerLink]="['/list']">Home</button>
    </div>
</div> 