<!-- <div class="grid-container">
    <div class="login">
        Register
    </div>
    <div>
        <form [formGroup]="registerForm" class="form">
            <label for="">ID :</label>
            <input type="number" formControlName="id" id="id" autocomplete="off">

            <label for="">Sports Title :</label>
            <input type="text" formControlName="sportsTitle" id="sportsTitle" autocomplete="off">

            <label for="">category :</label>
            <input type="text" formControlName="category" id="category" autocomplete="off">

            <label for="">Description :</label>
            <textarea name="descreption" id="descreption" maxlength="500" autocomplete="off"></textarea>
        </form>
    </div>
    <div class="div2">
        <button type="button" class="button" (click)="onSubmit(loginForm.value)"
            [disabled]="registerForm.invalid">Add</button>
        <button type="button" class="button" [routerLink]="['/list']">Home</button>
    </div>
</div>
 -->

 <div class="grid-container">
    <div class="login">
        Register
    </div>
    <div>
        <form [formGroup]="registerForm" class="form">
            <label for="">UserName :</label>
            <input type="text" formControlName="username"
              name="username"  autocomplete="off">

            <label for="">Passward :</label>
            <input type="text" formControlName="passward"  
             name="passward" autocomplete="off">
        </form>
    </div>
    <div class="div2">
        <button type="button" class="button" (click)="onSubmit(registerForm.value)">Add User</button>
        <button type="button" class="button" [routerLink]="['/list']">Home</button>
    </div>
</div>


